// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Datatables
@import 'datatables.net-bs5';

// SweetAlert2
@import 'sweetalert2/dist/sweetalert2.min.css';

// Select2
@import 'select2/dist/css/select2.min.css';

// Select2 bs-5
@import "select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css";

#app {
    height: 100vh;
    background-color: #eeeeee;
}

table thead tr th {
    vertical-align: middle;
}

table tbody tr td {
    vertical-align: middle;
}

.row-main {
    padding: 58px 0 0 0;
}

hr {
    opacity: 0.1;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: 0.66rem !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    font-size: 0.66rem !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    font-size: 0.66rem !important;
}

.select2-container--bootstrap-5 .select2-selection {
    font-size: 0.66rem !important;
}


.select2-container--bootstrap-5 .select2-selection {
    border: 1px solid $border-color !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    border: 1px solid $border-color !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    border: 1px solid $border-color !important;
}

.select2-container--bootstrap-5.select2-container--disabled .select2-selection,
.select2-container--bootstrap-5.select2-container--disabled.select2-container--focus .select2-selection {
    border-color: $border-color !important;
}

@include color-mode(light){
    .table thead {
        @extend .table-secondary;
    }
}

@include color-mode(dark) {
    .table thead {
        @extend .table-dark;
    }

    #app {
        background-color: $body-bg-dark !important;
    }

    .select2-search input {
        color: #ffffff !important;
        background-color: #212529 !important;
    }

    .select2-search {
        background-color: #212529 !important;
    }

    /* Change the appearence of the search input field */
    .select2-search input {
        color: #ffffff !important;
        background-color: #212529 !important;
    }

    /* Change the appearence of the search results container */
    .select2-results {
        background-color: #212529 !important;
        color: #ffffff !important;
    }

    /* Change the appearence of the dropdown select container */
    .select2-container--bootstrap-5 .select2-selection {
        border-color: #6c757d !important;
        color: #ffffff !important;
        background-color: #212529 !important;
    }

    /* Change the caret down arrow symbol to white */
    .select2-container--bootstrap-5 .select2-selection--single {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    }

    /* Change the color of the default selected item i.e. the first option */
    .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
        color: #ffffff !important;
    }

    .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
        color: #fff !important;

        .select2-selection__choice__remove {
            width: .50rem !important;
            height: .50rem !important;
        }
    }
}
